<h4>  <%= link_to "Prospectos", root_path %></h4>
<p></p>
<% if @meetings.count != 0 %>
  <h4>Conversaciones con el prospecto <%= @lead.name %></h4>
  <div class="table-responsive">

  <table  class="table table-borderless align-top">
    <thead class="table-dark">
    <tr>
      <th>Resumen</th>
      <th>Detalle</th>
      <th>Fecha ingreso</th>
    </tr>
    </thead>
    <tbody>

    <% @meetings.each do |meet| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%= meet.summary %></td>
        <td><%= meet.content %></td>
        <td><%= meet.created_at.in_time_zone('America/Santiago').strftime("%Y-%m-%d") %></td>
      </tr>


    <% end %>
    </tbody>

  </table>
  </div>
<% else %>
  <p>No hay conversaciones!</p>
<% end %>
<h4>Nueva conversacion</h4>
<%= render('formmeeting')
%>


