<h3>Hola <%= @me.name %>!</h3>

<div class="card-group">
      <div class="card border border-primary rounded mx-auto" style="max-width: 15rem;">
        <div class="card-body text-center">
          <h4 class="card-title">Interesados</h4>
          <h2 class="card-text"><%= @desglose["interesado"] %></h2>
        </div>
      </div>
    <div class="card border border-primary rounded mx-auto" style="max-width: 15rem;">
      <div class="card-body  text-center">
        <h4 class="card-title">Prospectos</h4>
        <h2 class="card-text"><%= @desglose["prospecto"] %></h2>
      </div>
    </div>
      <div class="card border border-primary rounded mx-auto" style="max-width: 15rem;">
        <div class="card-body text-center">
          <h4 class="card-title">Clientes</h4>
          <h2 class="card-text"><%= @desglose["cliente"] %></h2>
        </div>
      </div>
  </div>



<h4> Tablero de prospectos </h4>
<p>
  <%= link_to 'âž• Agregar un prospecto', new_lead_path, title: 'Agregar prospecto'%>
</p>
<div class="table-responsive">
<table id="myTable" class="table table-borderless align-top">
  <thead class="table-dark">
  <tr>
    <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(1)')" style="cursor:pointer">Email <i class="fa fa-sort" style="font-size:13px;"></i></th>
    <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(2)')" style="cursor:pointer">Nombre <i class="fa fa-sort" style="font-size:13px;"></i></th>
    <th >Celular</th>
    <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(4)')" style="cursor:pointer">Estado <i class="fa fa-sort" style="font-size:13px;"></i></th>
    <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(5)')" style="cursor:pointer">Ingresante <i class="fa fa-sort" style="font-size:13px;"></i></th>
    <th onclick="w3.sortHTML('#myTable','.item', 'td:nth-child(6)')" style="cursor:pointer">Fecha <i class="fa fa-sort" style="font-size:13px;"></i></th>
    <th>Reus</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @leads.each do |lead| %>
    <tr class="item <%= cycle('even', 'odd') -%>">
      <td><%= lead.email %></td>
      <td><%= lead.name %></td>
      <td><%= lead.phone %></td>
      <td><%= lead.status %></td>
      <td><%= User.find(lead.user_id).name %></td>
      <td><%= lead.indate %></td>
      <td>
        <span class="fs-5"><%= link_to "#{lead.meetings.count}ðŸ’¬", lead_meetings_path(lead), title: 'Numero de juntas/llamadas' %></span></td>
      <td>
        <span class="fs-5">
        <%= link_to "ðŸ“", edit_lead_path(lead), title: 'Editar prospecto' %>
        <%= link_to "ðŸ—‘ï¸", lead_path(lead), title: 'Eliminar prospecto', method: :delete, data: { confirm: "Esta seguro? Se eliminaran todas las conversaciones de este prospecto"} %>
        </span>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>
</div>

</body>
</html>