<h3>Hola <%= @me.name %>!</h3>

<div class="card-group">
      <div class="card border border-primary rounded mx-auto" style="max-width: 15rem;">
        <div class="card-body text-center">
          <h4 class="card-title">Interesados</h4>
          <h2 class="card-text"><%= @desglose["interesado"] %></h2>
        </div>
      </div>
    <div class="card border border-primary rounded mx-auto" style="max-width: 15rem;">
      <div class="card-body  text-center">
        <h4 class="card-title">Prospectos</h4>
        <h2 class="card-text"><%= @desglose["prospecto"] %></h2>
      </div>
    </div>
      <div class="card border border-primary rounded mx-auto" style="max-width: 15rem;">
        <div class="card-body text-center">
          <h4 class="card-title">Clientes</h4>
          <h2 class="card-text"><%= @desglose["cliente"] %></h2>
        </div>
      </div>
  </div>



<h4> Tablero de prospectos </h4>
<p>
  <%= link_to 'âž•', new_lead_path, title: 'Agregar prospecto'%>
</p>
<div class="table-responsive">
<table class="table table-borderless align-top">
  <thead class="table-dark">
  <tr>
    <th>Email</th>
    <th>Nombre</th>
    <th>Celular</th>
    <th>Estado</th>
    <th>Ingresante</th>
    <th>Fecha</th>
    <th>Reus</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @leads.each do |lead| %>
    <tr class="<%= cycle('even', 'odd') -%>">
      <td><%= lead.email %></td>
      <td><%= lead.name %></td>
      <td><%= lead.phone %></td>
      <td><%= lead.status %></td>
      <td><%= User.find(lead.user_id).name %></td>
      <td><%= lead.indate %></td>
      <td><%= link_to "#{lead.meetings.count}ðŸ’¬", lead_meetings_path(lead), title: 'Numero de juntas/llamadas' %></td>
      <td>
        <%= link_to "ðŸ“", edit_lead_path(lead), title: 'Editar prospecto' %>
        <%= link_to "ðŸ—‘ï¸", lead_path(lead), title: 'Eliminar prospecto', method: :delete, data: { confirm: "Esta seguro? Se eliminaran todas las conversaciones de este prospecto"} %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

</body>
</html>