
<h3>Hola <%= @me.name
%>!</h3>

<div class="box-wrapper">
  <div id="box1"> Prospectos:
    <%= @desglose["prospecto"] %></div>
  <div id="box2"> Interesados:
    <%= @desglose["interesado"] %></div>
  <div id="box2"> Clientes:
    <%= @desglose["cliente"] %></div>
</div>

<h4> Tablero de prospectos </h4>
<p>
  <%= link_to 'âž•', new_lead_path, title: 'Agregar prospecto'%>

</p>
<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Nombre</th>
    <th>Celular</th>
    <th>Estado</th>
    <th>Ingresante</th>
    <th>Fecha</th>
    <th>Reus</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @leads.each do |lead| %>
    <tr class="<%= cycle('even', 'odd') -%>">
      <td><%= lead.email %></td>
      <td><%= lead.name %></td>
      <td><%= lead.phone %></td>
      <td><%= lead.status %></td>
      <td><%= User.find(lead.user_id).name %></td>
      <td><%= lead.indate %></td>
      <td><%= link_to "#{lead.meetings.count}", lead_meetings_path(lead) %></td>
      <td>
        <%= link_to "ðŸ“", edit_lead_path(lead), title: 'Editar prospecto' %> |
        <%= link_to "ðŸ—‘ï¸", lead_path(lead), title: 'Eliminar prospecto', method: :delete, data: { confirm: "Esta seguro? Se eliminaran todas las conversaciones de este prospecto"} %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= yield %>

</body>
</html>